{%extends 'base.html'%}
{%load static%}
{%block content%}
    <div class="container mt-5">
      <div class="page-banner" style="background-image: url('{% static 'img/msg.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
              </ul>
            </nav>
            <h1 class="text-center">Contact Us</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
            <h2 class="title-section">Get in Touch</h2>
            <div class="divider"></div>
            <p>Our highly trained team offers 24/7 support, ensuring every interaction is handled with expertise, efficiency, and compliance, so your operations run smoothly without interruption.</p>
  
            <ul class="contact-list">
              <li>
                <div class="icon"><span class="mai-map"></span></div>
                <div class="content">699 Atlantic City Blvd, Bayville,NJ,USA</div>
              </li>
              <li>
                <div class="icon"><span class="mai-mail"></span></div>
                <div class="content"><a href="#">www.grsservices.co</a></div>
              </li>
              <li>
                <div class="icon"><span class="mai-phone-portrait"></span></div>
                <div class="content"><a href="#">+1 (609) 928-6025</a></div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 py-3">
            <div class="subhead">Contact Us</div>
            <h2 class="title-section">Drop Us a Line</h2>
            <div class="divider"></div>
            
            <form action="" method="post">
              {% csrf_token %}
              <div class="py-2">
                <input type="text" name="full_name" class="form-control" placeholder="Full name">
              </div>
              <div class="py-2">
                <input type="email" name="email" class="form-control" placeholder="Email">
              </div>
              <div class="py-2">
                <textarea rows="6" name="message" class="form-control" placeholder="Enter message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill mt-4">Send Message</button>
            </form>
            
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>
{%endblock%}